/* General styling for heatmap cells */
.react-calendar-heatmap rect {
  rx: 3px; /* Horizontal corner radius */
  ry: 3px; /* Vertical corner radius */
}

/* Light Mode */
.color-empty-light {
  fill: #f0f0f0;
  rx: 3px;
  ry: 3px;
}
.color-scale-light-1 {
  fill: #d6e685;
  rx: 3px;
  ry: 3px;
}
.color-scale-light-2 {
  fill: #8cc665;
  rx: 3px;
  ry: 3px;
}
.color-scale-light-3 {
  fill: #44a340;
  rx: 3px;
  ry: 3px;
}
.color-scale-light-4 {
  fill: #1e6823;
  rx: 3px;
  ry: 3px;
}

/* Dark Mode */
.color-empty-dark {
  fill: #2c2c2c;
  rx: 3px;
  ry: 3px;
}
.color-scale-dark-1 {
  fill: #3f6634;
  rx: 3px;
  ry: 3px;
}
.color-scale-dark-2 {
  fill: #2e4d25;
  rx: 3px;
  ry: 3px;
}
.color-scale-dark-3 {
  fill: #1f3618;
  rx: 3px;
  ry: 3px;
}
.color-scale-dark-4 {
  fill: #12200d;
  rx: 3px;
  ry: 3px;
}
